body {
  background-color: #ffffff;
}

.menu-header__link:hover {
  color: #f44a25;
}

.header__loginbutton {
  color: #ffffff;

  background: #f44a25;
}
.header__loginbutton:hover {
  background-color: #711601;
}

/* -----------------PAGE_ORDER------------- */

.order__title {
  color: #333333;
}

.order__ordernow {
  background: #f44a25;

  color: #ffffff;
}
.order__ordernow:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.8);
}

/* -----------------------menu--------------------------- */

.menu__column {
  border: 0.801676px solid #bdbdbd;
}

.menu__subtitle {
  color: #333333;
}
.menu__price {
  color: #333333;
}

.menu__selector {
  background: #ffffff;

  color: #333333;
}

.menu__addlink {
  background: #f44a25;

  color: #ffffff;
}
.menu__addlink:hover {
  background-color: #711601;
}

.options3 {
  background-color: #f44a25;
}

/* ----------------navbar------ */

@media (max-width: 810px) {
  .hamburger {
    background: white;
  }

  .menuz {
    background: black;

    color: white;
  }

  .menuItem {
    color: white;
  }
  .menuItem:hover {
    color: #f44a25;
  }
}

.change-theme[data-theme="dark"] {
  display: block;
}
.change-theme[data-theme="light"] {
  display: none;
}
.header__buy_img2 {
  filter: invert(31%) sepia(81%) saturate(1875%) hue-rotate(349deg)
    brightness(100%) contrast(92%);
}
.header__search_img2 {
  filter: invert(31%) sepia(81%) saturate(1875%) hue-rotate(349deg)
    brightness(100%) contrast(92%);
}
.change-theme_color path {
  fill: #f44a25;
}
